<h1>{{first_name}} {{last_name}}</h1>

<dl>
  <dt>Email</dt>
  <dd>{{email}}</dd>

  <dt>Title</dt>
  <dd>{{title}}</dd>
</dl>

<p>
  Updated at: {{updated_at}}
  <br>
  Created at: {{created_at}}
</p>